<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>ANNOVA Survey Responsive Template</title>
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/social-bookmarks.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox.css?v=2.1.4" rel="stylesheet" />
    <link href="~/Content/aero.css" rel="stylesheet" />

    <!-- Toggle Switch -->
    <link href="~/Content/jquery.switch.css" rel="stylesheet" />
    <!-- Owl Carousel Assets -->
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.css" rel="stylesheet" />
    <!-- Google web font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Jquery -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.22.min.js"></script>

    <!-- Wizard-->
    <script src="~/Scripts/jquery.wizard.js"></script>

    <!-- Radio and checkbox styles -->
    <script src="~/Scripts/check.min.js"></script>

    <!-- HTML5 and CSS3-in older browsers-->
    <script src="~/Scripts/modernizr.custom.17475.js"></script>

    <!-- Support media queries for IE8 -->

    <script src="~/Scripts/respond.min.js"></script>

    <style>
        .lh {
            line-height: 40px;
        }
    </style>

</head>

<body>
    @RenderBody()





    <!-- OTHER JS -->

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.placeholder.js"></script>
    <script src="~/Scripts/jquery.tweet.min.js"></script>

    <script src="~/Scripts/jquery.bxslider.min.js"></script>
    <script src="~/Scripts/quantity-bt.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/retina.js"></script>

    <script src="~/Scripts/owl.carousel.min.js"></script>

    <script src="~/Scripts/functions.js" type="text/javascript"></script>

    <!-- FANCYBOX -->
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>

    <script src="~/Scripts/jquery.fancybox-media.js"></script>
    <script src="~/Scripts/fancy_func.js"></script>

</body>
</html>