 
            <div class="step row">
                <h3>TÜRKİYE'DE ŞİRKETLERİN GELİŞİMİ</h3>
                <b>Sayın Yetkili;</b>
                <br />
                <br />
                Bu anketi iyi bildiğiniz herhangi bir şirket için doldurabilirsiniz.<br />
                Bu önemli anket Türkiye'nin gelişmesi için son derece önemli olan bir konuyu araştırmak için yapılmaktadır.
                Tamamlayarak göndereceğiniz anket, Türkiye'nin gelişmesinde büyük bir engel olan ekonomik gelişme sorununu çözmeye yönelik adımları saptamaya yöneliktir.
                <br />
                Bu ankette hiçbir şekilde şirket kimlik bilgisi saklanmaz ve sorulmaz ve böylelikle cevapların kim tarafından verildiği bilinemez.

                <br />
                <b>Güvenle doldurabilirsiniz.</b>
            </div>
        