<div class="step row">
    <div class="col-md-10">
        <h3>1.Ankete konu olan şirket, aşağıdakilerden hangisine uyuyor? (Anketi iyi bildiğiniz herhangi bir şirket için doldurabilirsiniz.)</h3>
        <ul class="data-list-2">
            <li><input name="Q1_1" type="radio" class="check_radio" value="A"><label>Yarıdan fazla hissesi bir ortağa ait</label></li>
            <li><input name="Q1_1" type="radio" class="check_radio" value="B"><label>Aile şirketi ya da girişim (bir kaç ortaklı)</label></li>
            <li><input name="Q1_1" type="radio" class="check_radio" value="C"><label>Bir başka Türk şirkete bağlı</label></li>
            <li><input name="Q1_1" type="radio" class="check_radio" value="D"><label>Bir başka yabancı şirkete bağlı</label></li>
        </ul>
    </div>
</div>