 <div class="step row">
    <div class="col-md-10">
        <h3>2.Ankete konu olan şirketin faaliyet alanı nedir?</h3>
        <ul class="data-list-2">
            <li><input name="Q2_1" type="radio" class="check_radio" value="A"><label>İNŞAAT</label></li>
            <li><input name="Q2_1" type="radio" class="check_radio" value="B"><label>ENDÜSTRİ (üretim, maden, elektrik, gaz ve su tedariki)</label></li>
            <li><input name="Q2_1" type="radio" class="check_radio" value="C"><label>TİCARET</label></li>
            <li><input name="Q2_1" type="radio" class="check_radio" value="D"><label>TAŞIMA (Transport)</label></li>
            <li><input name="Q2_1" type="radio" class="check_radio" value="E"><label>TARIM (Sebze, Meyve, diğer bitki üretimi)</label></li>
            <li><input name="Q2_1" type="radio" class="check_radio" value="F"><label>FİNANSAL HİZMETLER</label></li>
            <li><input name="Q2_1" type="radio" class="check_radio" value="G"><label>DİĞER HİZMETLER (Hotel, Restoran, IT Bilişim hizmetleri, vs.)</label></li>
            <li><input name="Q2_1" type="radio" class="check_radio" value="H"><label>Diğer</label></li>
        </ul>
    </div>
</div>