<div class="step row">
    <div class="col-md-10">
        <h3>3.Bu şirketin 2016 ihracatın toplam ciroya oranını belirtiniz? </h3>
        <ul class="data-list-2">
            <li><input name="Q3_1" type="radio" class="check_radio" value="A"><label>%0, Şirketim geçen yıl hiç ihracat yapmadı</label></li>
            <li><input name="Q3_1" type="radio" class="check_radio" value="B"><label>Tüm satışların %25'ten azı</label></li>
            <li><input name="Q3_1" type="radio" class="check_radio" value="C"><label>%25 - % 50 arası</label></li>
            <li><input name="Q3_1" type="radio" class="check_radio" value="D"><label>%50 den fazla</label></li>
        </ul>
    </div>
</div>
