<div class="step">
    <div class="row">
        <h3 class="col-md-10">4.Bu şirket için aşağıdakiler ne kadar önemliydi? (Son yıl)</h3>
    </div>
    <div class="row lh">
        <div class="col-md-6" style="width:55%;">
        </div>
        <div class="col-md-1" style="width:100px;">
            <label>Az Önemli</label>
        </div>
        <div class="col-md-1" style="padding-left: 6px;">
            <label>Önemli</label>
        </div>
        <div class="col-md-2" style="width:110px; padding-left: 0px;">
            <label>Çok Önemli</label>
        </div>
    </div>
    <div class="row lh">
        <div class="col-md-7">
            <label>Müşteri bulma</label>
        </div>
        <div class="col-md-1">
            <input name="Q4_1" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q4_1" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q4_1" type="radio" class="check_radio" value="C" />
        </div>
    </div>
    <div class="row lh">
        <div class="col-md-7">
            <label>Rekabet</label>
        </div>
        <div class="col-md-1">
            <input name="Q4_2" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q4_2" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q4_2" type="radio" class="check_radio" value="C" />
        </div>
    </div>
    <div class="row lh">
        <div class="col-md-7">
            <label>Finansmana erişim (işiniz için para bulma, kredi, sermaye, borçlar vs)</label>
        </div>
        <div class="col-md-1">
            <input name="Q4_3" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q4_3" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q4_3" type="radio" class="check_radio" value="C" />
        </div>
    </div>
    <div class="row lh">
        <div class="col-md-7">
            <label>Üretim ya da işçi maliyeti</label>
        </div>
        <div class="col-md-1">
            <input name="Q4_4" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q4_4" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q4_4" type="radio" class="check_radio" value="C" />
        </div>
    </div>
</div>