<div class="step">
    <div class="row">
        <h3 class="col-md-10">5.Son altı ayda bu değerler nasıl değişti?</h3>
    </div>
    <div class="row lh">
        <div class="col-md-6" style="width:55%;">
        </div>
        <div class="col-md-1" style="width:100px;  padding-left: 30px;">
            <label>Azaldı</label>
        </div>
        <div class="col-md-1" style="padding-left: 0px;">
            <label>Değişmedi</label>
        </div>
        <div class="col-md-2" style="width:110px; padding-left: 13px;">
            <label>Arttı</label>
        </div>
    </div>
  
    <div class="row lh">
        <div class="col-md-7">
            <label>Ciro</label>
        </div>
        <div class="col-md-1">
            <input name="Q5_1" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q5_1" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q5_1" type="radio" class="check_radio" value="C" />
        </div>
    </div>

    <div class="row lh">
        <div class="col-md-7">
            <label>İşçi Maliyeti</label>
        </div>
        <div class="col-md-1">
            <input name="Q5_2" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q5_2" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q5_2" type="radio" class="check_radio" value="C" />
        </div>
    </div>
   
    <div class="row lh">
        <div class="col-md-7">
            <label>Diğer Maliyetler (hammaddeler, enerji, diğer..)</label>
        </div>
        <div class="col-md-1">
            <input name="Q5_3" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q5_3" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q5_3" type="radio" class="check_radio" value="C" />
        </div>
    </div>

    <div class="row lh">
        <div class="col-md-7">
            <label>Faiz oranları</label>
        </div>
        <div class="col-md-1">
            <input name="Q5_4" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q5_4" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q5_4" type="radio" class="check_radio" value="C" />
        </div>
    </div>

    <div class="row lh">
        <div class="col-md-7">
            <label>Yatırımlarınız</label>
        </div>
        <div class="col-md-1">
            <input name="Q5_5" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q5_5" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q5_5" type="radio" class="check_radio" value="C" />
        </div>
    </div>
    <div class="row lh">
        <div class="col-md-7">
            <label>Stok</label>
        </div>
        <div class="col-md-1">
            <input name="Q5_6" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q5_6" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q5_6" type="radio" class="check_radio" value="C" />
        </div>
    </div>
    <div class="row lh">
        <div class="col-md-7">
            <label>Çalışan Sayısı</label>
        </div>
        <div class="col-md-1">
            <input name="Q5_7" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q5_7" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q5_7" type="radio" class="check_radio" value="C" />
        </div>
    </div>
    <div class="row lh">
        <div class="col-md-7">
            <label>Borçlar</label>
        </div>
        <div class="col-md-1">
            <input name="Q5_8" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q5_8" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q5_8" type="radio" class="check_radio" value="C" />
        </div>
    </div>
    <div class="row lh">
        <div class="col-md-7">
            <label>Kar</label>
        </div>
        <div class="col-md-1">
            <input name="Q5_9" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q5_9" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q5_9" type="radio" class="check_radio" value="C" />
        </div>
    </div>
    <div class="row lh">
        <div class="col-md-7">
            <label>Çalışan Sayısı</label>
        </div>
        <div class="col-md-1">
            <input name="Q5_10" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q5_10" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q5_10" type="radio" class="check_radio" value="C" />
        </div>
    </div>
    <div class="row lh">
        <div class="col-md-7">
            <label>Borçlar</label>
        </div>
        <div class="col-md-1">
            <input name="Q5_11" type="radio" class="check_radio" value="A" />
        </div>
        <div class="col-md-1">
            <input name="Q5_11" type="radio" class="check_radio" value="B" />
        </div>
        <div class="col-md-1">
            <input name="Q5_11" type="radio" class="check_radio" value="C" />
        </div>
    </div>
</div>