<div class="step row">
    <div class="col-md-10">
        <h3>1.Ankete konu olan şirket, aşağıdakilerden hangisine uyuyor? (Anketi iyi bildiğiniz herhangi bir şirket için doldurabilirsiniz.)</h3>
        <ul class="data-list-2">
            <li><input name="Q6_1" type="text" ><label>Yarıdan fazla hissesi bir ortağa ait</label></li>
            
        </ul>
    </div>
</div>