<div class="step row">
    <div class="col-md-10">
        <h3>6. Bahsi geçen şirkette nakit varlıkların oranı nedir?  (Nakit ya da paraya kolay çevrilebilir.) </h3>
        <ul class="data-list-2">
            <li><input name="Q3_1" type="radio" class="check_radio" value="A"><label>Normalden fazla  (Yüksek)</label></li>
            <li><input name="Q3_1" type="radio" class="check_radio" value="B"><label>Normal seviyede</label></li>
            <li><input name="Q3_1" type="radio" class="check_radio" value="C"><label>%25 - % 50 arası</label></li>
            <li><input name="Q3_1" type="radio" class="check_radio" value="D"><label>Normalden az  (Düşük)</label></li>
        </ul>
    </div>
</div>
