<div class="step row">
    <div class="col-md-10">
        <h3>7.	Şirketin nakit (ve benzeri) varlığı fazlaysa sebebi nedir?  (Düşük ya da normalse bir sonraki soruya geçiniz!) </h3>
        <ul class="data-list-2">
            <li><input name="Q3_1" type="radio" class="check_radio" value="A"><label>İşlem hacmimiz yüksek olduğundan nakit fazla</label></li>
            <li><input name="Q3_1" type="radio" class="check_radio" value="B"><label>Gelecekteki nakit akışımızdan emin olamadığımız için fazla nakit tutuyoruz</label></li>
            <li><input name="Q3_1" type="radio" class="check_radio" value="C"><label>İhtiyaç halinde elimizdekileri nakit paraya çevirmek güç olduğu için fazla nakit tutuyoruz </label></li>
            <li><input name="Q3_1" type="radio" class="check_radio" value="D"><label>Yapacağımız yatırım nedeniyle</label></li>
            <li><input name="Q3_1" type="radio" class="check_radio" value="E"><label>Yatırımlarımızdan düşük gelir geliyor</label></li>
            <li><input name="Q3_1" type="radio" class="check_radio" value="F"><label>Diğer:</label></li>
        </ul>
    </div>
</div>
